strategy: max
source https://www.nuget.org/api/v2

nuget NuGet.CommandLine
nuget Castle.Core
nuget Microsoft.Net.Compilers
nuget Microsoft.Reactive.Testing
nuget Moq
nuget Newtonsoft.Json
nuget RabbitMQ.Client
nuget System.Reactive
nuget System.Reactive.Core
nuget System.Reactive.Interfaces
nuget System.Reactive.Linq
nuget System.Reactive.PlatformServices
nuget System.Reactive.Windows.Threading
nuget xunit
nuget xunit.abstractions
nuget xunit.assert
nuget xunit.core
nuget xunit.extensibility.core
nuget xunit.extensibility.execution
nuget xunit.runner.visualstudio
nuget xunit.runner.console