strategy: max
source https://www.nuget.org/api/v2

nuget Fake
nuget FSharp.Compiler.Tools
nuget FSharp.Management
nuget NuGet.CommandLine
nuget Castle.Core
nuget Microsoft.Net.Compilers
nuget Microsoft.Reactive.Testing
nuget Moq
nuget Newtonsoft.Json
nuget RabbitMQ.Client
nuget System.Reactive
nuget xunit
nuget xunit.abstractions
nuget xunit.assert
nuget xunit.core
nuget xunit.extensibility.core
nuget xunit.extensibility.execution
nuget xunit.runner.visualstudio version_in_path: true
nuget xunit.runner.console